//Mindvision colour palette

$dark-master-colour: #041927;
$dark-master-navy: #041927;
$dark-master-navy-50: rgba(4, 25, 39, 0.05);
$primary-master-colour: #1d7ec0;

$muted: #999999;
$default: #1D7EC0;
$success: #12A98C;
$info:#7DBB3A;
$warning: #EDAB38;
$danger: #E04D2A;

$neutral-grey-pale: #F3F3F4;
$neutral-grey-pale_2: #F5F5F5;
$neutral-grey-light: #E7EAEC;
$neutral-grey-mid: #C4C4C4;
$neutral-grey-dark: #999999;

$mindvision-green: #B4D144;
$mindvision-pale-blue: #5EADE2;
$mindvision-sky-blue: #B3DBF6;
$mindvision-pale-green: #E0EBB9;
$mindvision-yellow: #F5CD6A;
$mindvision-manilla: #F6E6BE;
$mindvision-ink-blue: #152C5F;
$mindvision-turquoise: #23A0B8;
$mindvision-kahaki: #29471F;

//mvi-button-colours
$default-button: #999999;
$primary-button: #1D7EC0;
$success-button: #12A98C;
$info-button: #8AB83B;
$warning-button: #EDAB38;
$danger-button: #E04D2A;

$report-headings: #1d9bad;
