<% if current_user.admin? %>
<br />
  <%= link_to 'Genres', genrelist_path %>
<br />
  <%= link_to 'Actors', actorlist_path %>
<br />
  <%= link_to 'Users', userlist_path %>
<br />
  <%= link_to 'Videos', videolist_path %>
<br />

<% else %>
  <p>You don't have the necessary permissions to view this page.</p>
<% end %>
