<!DOCTYPE html>
<html>
<head>
  <title>Appname</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>
<body>
<div id="header">
  ============== Overdue Reminder ====================== Please Return The Item ==================
</div>
<%= yield %>
</body>
</html>