<!DOCTYPE html>
<html>
<head>
  <title>Receipt</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>
<br>
<div id="header">
  ================== RECEIPT for <%= rental.user.first_name %> ==================
</div>
  Order ID : <%= rental.order_number %>
<br>
  <%= rental.display_rental_details_with_costs %>
<%= yield %>
</body>
</html>
