<div class="modal inmodal fade" id="action-modal" role="dialog"
     style="display: none;" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content action-modal-content" data-hook="data-container">
    </div>
  </div>
</div>
