<div class="dz-default dz-message dz-box mvi-dropzone-container">
  <i class="fas fa-cloud-upload-alt"></i>
  <span><b>Drop File(s) here or</b></span>
  <br/>
  <%= link_to '#', class: "btn btn-default btn-go" do %>
    Upload
  <% end %>
  <div id="dropzonePreview"></div>
</div>
