<ul id="gn-menu" class="gn-menu-main">
  <li class='header-logo-container'>
    <div class='header-logo'>
      <%= link_to '', root_path, class: 'menu-logo' %>
    </div>
  </li>
  <!--  optional top menu items-->
  <!--    <li>-->
  <!--      <a href="#"><span>Test 2</span></a>-->
  <!--    </li>-->
  <li>
    <%= button_to logout_path, method: :delete, class: 'codrops-icon codrops-icon-drop' do %>
      [<%= current_user.first_name.to_s %>] - [<%= current_user.role.to_s %>] Log Out
    <% end %>
  </li>
</ul>
