<div class="ibox">
  <div class="ibox-body">
    <div class="ibox-filters">
      <p class="required-field">All fields marked with&nbsp;<span class="red-asterisk">*</span>&nbsp;are required</p>
    </div>
    <div class="ibox-content">
      <div class="row mb20">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="control-wrapper">
              <%= f.input :name, as: :string, label: '<span></span> Genre Name'.html_safe,
                          input_html: { class: ' form-control', spellcheck: true  }%>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="control-wrapper mvi-checkboxes">
              <%= f.input :active, label: '<span></span> Active'.html_safe,
                          as: :boolean,
                          input_html: { class: ' form-control text-left' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>