<!DOCTYPE html>
<html>
<head>
  <title>Welcome Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add any additional CSS or JavaScript includes here -->
</head>
<body>
<div class="container">
  <h1>Welcome to Our Video Store Application</h1>
  <p>This is the temporary landing page.</p>

  <%= button_to 'Sign in', new_user_session_path, method: :get, class: 'btn btn-primary' %>
  <%= button_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
  <%= button_to 'Admin Dashboard', admin_dashboard_path, method: :get, class: 'btn btn-primary' %>
</div>
</body>
</html>