<!DOCTYPE html>
<html>
<head>
  <title> Overdue Rental Reminder</title>
</head>
  <body>
    <div class="content">
      <p>Dear <%= @rental.user.first_name %>,</p>
      <p>Return your movie or you will be fined.</p>
    </div>
  </body>
</html>
