<!DOCTYPE html>
<html>
<head>
  <title>Overdue Rental Reminder</title>
</head>
  <body>
    <div class="content">
      <p>Dear <%= @rental.user.first_name %>,</p>
      <p>Please return your Movie.</p>
    </div>
  </body>
</html>
