/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * Commented css used by commented inspinia JS. put some of these back if the JS is required
 * require bootstrap-datetimepicker
 *= require_self
 /* require simple_calendar
 *= require tree
*= require table_styling
 /* require dark-editable
 *= require mvi-theme
 *= require_tree ./mvi/
 // <!-- Custom css references start -->
*= require froala

 /* For rich text editor*/
.custom-trix-editor {
    height: 150px;
    width: 300px;
}

.custom-trix-editor trix-editor {
    height: 100%;
    padding: 5px; /* Adjust as needed */
    font-size: 14px; /* Adjust as needed */
}

/* For video list */
.video-list {
    display: flex;
    flex-wrap: wrap;
}

.video-item {
    margin: 5px;
    width: 200px;
    height: 400px;
    padding: 5px;
    border: none;
    box-sizing: border-box;
}
/* The toolbar for videos_description not showing */
/*.fr-toolbar.fr-top {*/
/*    top: inherit !important;*/
/*    width: 100% !important;*/
/*    margin-bottom: 20px !important;*/
/*}*/

.ibox-header {
    position: static !important;
}
