// Table style starts
.table-time_window-responsive {

tr td:nth-child(1), tr td.total:nth-child(1), tr td:not(.group):nth-child(1) a {
  width: 20%;

}
tr td:nth-child(2), tr td.total:nth-child(2), tr td:not(.group):nth-child(2) a {
  width: 25%;

}
tr td:nth-child(3), tr td.total:nth-child(3), tr td:not(.group):nth-child(3) a {
  width: 20%;

}
tr td:nth-child(4), tr td.total:nth-child(4), tr td:not(.group):nth-child(4) a {
  width: 20%;

}
tr td:nth-child(5), tr td.total:nth-child(5), tr td:not(.group):nth-child(5) a {
  width: 15%;

}
}
.table-skill_type-responsive {

tr td:nth-child(2), tr td.total:nth-child(2), tr td:not(.group):nth-child(2) a {
  width: 15%;

}
}
.table-service_professional-responsive {

tr td:nth-child(1), tr td.total:nth-child(1), tr td:not(.group):nth-child(1) a {
  width: 20%;

}
tr td:nth-child(3), tr td.total:nth-child(3), tr td:not(.group):nth-child(3) a {
  width: 25%;

}
tr td:nth-child(4), tr td.total:nth-child(4), tr td:not(.group):nth-child(4) a {
  width: 20%;

}
}
.table-service-responsive {

tr td:nth-child(1), tr td.total:nth-child(1), tr td:not(.group):nth-child(1) a {
  width: 30%;

}
tr td:nth-child(3), tr td.total:nth-child(3), tr td:not(.group):nth-child(3) a {
  width: 15%;

}
}
.table-role-responsive {

tr td:nth-child(1), tr td.total:nth-child(1), tr td:not(.group):nth-child(1) a {
  width: auto;

}
tr td:nth-child(2), tr td.total:nth-child(2), tr td:not(.group):nth-child(2) a {
  width: 10%;

}
tr td:nth-child(3), tr td.total:nth-child(3), tr td:not(.group):nth-child(3) a {
  width: 10%;

}
}
.table-relationship-responsive {

tr td:nth-child(1), tr td.total:nth-child(1), tr td:not(.group):nth-child(1) a {
  width: 85%;

}
tr td:nth-child(2), tr td.total:nth-child(2), tr td:not(.group):nth-child(2) a {
  width: 15%;

}
}
.table-region-responsive {

tr td:nth-child(1), tr td.total:nth-child(1), tr td:not(.group):nth-child(1) a {
  width: 30%;

}
tr td:nth-child(2), tr td.total:nth-child(2), tr td:not(.group):nth-child(2) a {
  width: 25%;

}
tr td:nth-child(3), tr td.total:nth-child(3), tr td:not(.group):nth-child(3) a {
  width: 30%;

}
tr td:nth-child(4), tr td.total:nth-child(4), tr td:not(.group):nth-child(4) a {
  width: 6%;

}
}
.table-public_holiday-responsive {

tr td:nth-child(1), tr td.total:nth-child(1), tr td:not(.group):nth-child(1) a {
  width: 20%;

}
tr td:nth-child(2), tr td.total:nth-child(2), tr td:not(.group):nth-child(2) a {
  width: 80%;

}
}
.table-person_availability_exclusion-responsive {

tr td:nth-child(1), tr td.total:nth-child(1), tr td:not(.group):nth-child(1) a {
  width: 30%;

}
tr td:nth-child(2), tr td.total:nth-child(2), tr td:not(.group):nth-child(2) a {
  width: 10%;

}
tr td:nth-child(3), tr td.total:nth-child(3), tr td:not(.group):nth-child(3) a {
  width: 10%;

}
}
.table-enabling_skill-responsive {

tr td:nth-child(2), tr td.total:nth-child(2), tr td:not(.group):nth-child(2) a {
  width: 25%;

}
tr td:nth-child(3), tr td.total:nth-child(3), tr td:not(.group):nth-child(3) a {
  width: 15%;

}
}
.table-day_of_week-responsive {

tr td:nth-child(1), tr td.total:nth-child(1), tr td:not(.group):nth-child(1) a {
  width: 50%;

}
tr td:nth-child(2), tr td.total:nth-child(2), tr td:not(.group):nth-child(2) a {
  width: 40%;

}
tr td:nth-child(3), tr td.total:nth-child(3), tr td:not(.group):nth-child(3) a {
  width: 15%;

}
}
.table-access_permission-responsive {

tr td:nth-child(2), tr td.total:nth-child(2), tr td:not(.group):nth-child(2) a {
  width: 10%;

}
tr td:nth-child(3), tr td.total:nth-child(3), tr td:not(.group):nth-child(3) a {
  width: 10%;

}
tr td:nth-child(4), tr td.total:nth-child(4), tr td:not(.group):nth-child(4) a {
  width: 10%;

}
tr td:nth-child(5), tr td.total:nth-child(5), tr td:not(.group):nth-child(5) a {
  width: 10%;

}
}
// Table style ends
